img {
    height: 270px;
    width: 480px;
}

.featured-projects {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .project {
    flex: 1; 
    margin: 0 10px;
    max-width: calc(33.33% - 20px);
  }
  