.header {
  background-color: lightpink;
}

.name {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 50px;
}

.reverseNav {
  flex-direction: row-reverse !important;
}

.navbar-nav .nav-link {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}
